 {% extends "base.html" %}
 {% block content %}
 <link rel="stylesheet" href="css/db.css">   
    <div class="container">

    
        <div class="row main_page">
<div class="table-responsive">
    <form class="addus" method="POST" action="{{ url_for('add') }}">
           <table class="table"><tbody>
    <tr>
            <th scope="col">ФИО <input type="text" name="name" style="width: 240px"></th>
            <th scope="col">Адрес <input type="text" name="address" style="width: 240px"></th>
            <th scope="col">Серия паспорта <input id="passport" type="text" name="serial" style="width: 150px"></th>
            <th scope="col">Номер паспорта <input id="passport1" type="text" name="number" style="width: 150px"></th>
            <th scope="col">Кем выдан паспорт <input type="text" name="issued" ></th>

    </tr></tbody>
    </table>
            <input type="submit" class="btn btn-primary">
            </form>
            <h2> В базе данных нет записей, для дальнейшей работы необходимо внести одну запись!</h2>
    </div>
          </div>
    </div>
</form>
    {% endblock %}