 {% extends "base.html" %}
 {% block content %}
    <div class="container">
        <div class="row main_page">
            <div class="col-sm">
             <h2 style="margin-top:20px">Файл успешно заполнен
                <div style=" margin-top: 50px;">
                    <a href="/return-file/" target="blank"><button class="btn btn-primary">Скачать готовый файл</button></a>
                </div>
             </div>
             
          </div>
    </div>
    {% endblock %}
              