{% extends "base.html" %}
{% block content %}
<div class="container">
        <div class="row main_page">
            <div class="table-responsive" >
<h1>Изменение данных клиента</h1>
  <form method="POST" action="">
  {% for user in form %}
            <table class="table" ><tbody>
    <tr>
            <th  scope="col">ФИО <input type="text" name="name" style="width: 240px" value="{{user.1}}"></th>
            <th  scope="col">Адрес <input type="text" name="address" style="width: 240px" value="{{user.2}}"></th>
            <th  scope="col">Серия паспорта <input id="passport" type="text" style="width: 150px" name="serial" value="{{user.3}}"></th>
            <th  scope="col">Номер паспорта <input id="passport1" type="text"  style="width: 150px" name="number" value="{{user.4}}" ></th>
            <th  scope="col">Кем выдан паспорт <input type="text" name="issued" value="{{user.5}}"></th>    
    </tr></tbody>
    </table>
    <button class="btn btn-primary" type="submit" value="{{user.6}}">Изменить</button>
  </form>
            </div>
        </div>
</div>
  {% endfor %}
{% endblock %}