 {% extends "base.html" %}
 {% block content %}
 <link rel="stylesheet" href="css/db.css">   
    <div class="container">

    
        <div class="row main_page">
<div class="table-responsive">
    <form class="addus" method="POST" action="{{ url_for('db') }}">
    <table class="table" ><tbody>
    <tr>
            <th scope="col">ФИО <input type="text" name="name" style="width: 240px"></th>
            <th scope="col">Адрес <input type="text" name="address" style="width: 240px"></th>
            <th scope="col">Серия паспорта <input id="passport" type="text" name="serial"  maxlength ="4" style="width: 150px"></th>
            <th scope="col">Номер паспорта <input id="passport1" type="text" name="number" maxlength ="6" style="width: 150px"></th>
            <th scope="col">Кем выдан паспорт <input type="text" name="issued" ></th>
    </tr></tbody>
    </table>
    <button type="submit" class="btn btn-primary" id="confirm-button-next">Добавить</button>
            </form>
</div>
    <div class="w-100">
    </div>
<div class="table-responsive">
<form method="POST" action="{{ url_for('users') }}" enctype="multipart/form-data">
<table class="table" ><tbody>
        {% if result %}
    <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Адрес</th>
        <th scope="col">Серия паспорта</th>
        <th scope="col">Номер паспорта</th>
        <th scope="col">Кем выдан паспорт</th>
    </tr>
        {% for user in result%}
    <tr>
        <td> {{ user[1] }} </td>
        <td> {{ user[2] }} </td>
        <td> {{ user[3] }} </td>
        <td> {{ user[4] }} </td>
        <td> {{ user[5] }} </td>

    <td><a href="/delete/{{ user.0 }}" class="btn btn-danger" onclick="return confirm('Вы точно хотите удалить эту запись?')">Удалить</a>
    <td><a href="/edit_client/{{ user.0 }}" class="btn btn-primary">Изменить</a>

    </tr></tbody>
    {% endfor %}
    {% endif %}
    </table>
            </div>
          </div>
    </div>
</form>

    {% endblock %}